//
@use 'bootstrap';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heroImage{
    background-image: url('../img/jumbotron.jpg');
    // width: 100vw;
    height: 400px;
    }


.myCardImg img{      
        height: 185px;
        width: 185px;
        object-fit: cover;
        object-position: top;
    
}

.shopImg{
    width: 55px;
    height: 55px;
    }

    .shopImg img{
        max-width: 55px;
        height: 55px;
    }



    .footerImage{
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // width: 100vw;
    height: 400px;
    }

     .contactBar {
    height: 100px;
    background-color: rgb(54, 54, 54);
    z-index: 2;
     }